<h2>Informatica MDM Entity Editor</h2>
<div class="row" style="margin-top: 1em;">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="card">
        <div class="card-header">
          <span class="align-text-top">{{ entityMeta.label }}: {{ entityData.label }}</span>
          <button type="submit" class="btn btn-info btn-sm align-middle float-right">Save</button>
        </div>

        <div class="card-body">
            <div class="row" style="margin-top: 1em;">

              <div class="col-md-4" *ngFor="let entity of entityMeta.field">

                <span *ngIf="entity.dataType == 'Date'; then dateField else textField"></span>

                <ng-template #dateField>
                  {{ entity.label }} : <input [(ngModel)]="entityData[entity.name]" matInput [matDatepicker]="datePicker" name="{{ entity.name }}">
                  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                  <mat-datepicker #datePicker></mat-datepicker>
                </ng-template>

                <ng-template #textField>
                  {{ entity.label }} : <input [(ngModel)]="entityData[entity.name]" type="text" name="{{ entity.name }}">
                </ng-template>

              </div>

            </div>
        </div>
      </div>
    </form>
  </div>
</div>

<pre>{{ entityData | json }}</pre>
<pre>{{ entityMeta | json }}</pre>