<div class="row" style="margin-top: 1em;">
  <div class="col-md-12">

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="card">

        <div class="card-header">
          <span class="align-text-top">{{ metaLabel }}: {{ entityLabel }}</span>
          <button type="submit" class="btn btn-info btn-sm align-middle float-right">Save</button>
        </div>

        <div class="card-body">
            <div class="row" style="margin-top: 1em;">

              <div class="col-md-4 form-group" *ngFor="let entity of metaFields">

                <label for="{{ entity.name }}">{{ entity.label }}</label>

                <span *ngIf="entity.dataType == 'Date'; then dateField else textField"></span>

                <ng-template #dateField>
                  <!-- <mat-form-field> -->
                    <input class="form-control" [ngModel]="entityData[entity.name]" matInput [matDatepicker]="datePicker" name="{{ entity.name }}">
                    <mat-datepicker-toggle class="bootstrap-inline" matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                  <!-- </mat-form-field> -->
                </ng-template>

                <ng-template #textField>
                  <input class="form-control" [ngModel]="entityData[entity.name]" type="text" name="{{ entity.name }}">
                </ng-template>

              </div>

            </div>
        </div>
      </div>
    </form>

  </div>
</div>