<h4>Informatica MDM Entity Editor</h4>

<div class="row" style="margin-top: 1em;">
  <div class="col-md-12">

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="card">

        <div class="card-header text-muted">
          <span class="align-text-top">{{ metaLabel }} / {{ entityLabel }}</span>
          <button type="submit" class="btn btn-success align-text-bottom float-right" (click)="showModal(content)"><fa-icon icon="save"></fa-icon> Save</button>
        </div>

        <div class="card-body">
          <div class="row" style="margin-top: 1em;">

            <ng-container *ngFor="let entity of metaFields">
              <div class="col-md-4 form-group" *ngIf="entity.system != true">
                <label for="{{ entity.name }}">{{ entity.label }}</label>

                <span *ngIf="entity.dataType == 'Date'; then dateField else textField"></span>

                <ng-template #dateField>
                    <input class="form-control" [ngModel]="entityData[entity.name]" matInput [matDatepicker]="datePicker" name="{{ entity.name }}">
                    <mat-datepicker-toggle class="bootstrap-inline" matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </ng-template>

                <ng-template #textField>
                  <input class="form-control" [ngModel]="entityData[entity.name]" type="text" name="{{ entity.name }}">
                </ng-template>

              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Output</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>{{ changedData | json }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>